body {
    font-family: "Serif", cursive;
    background-color: #143589;
  }
  h1 {
    font-family: Fantasy;
    color: #be1d91;
  }
  
  #buttonBox {
    margin-top: 30px;
    text-align: left;
  }
  
  #thingToDo {
    margin-top: 20px;
    background-color: #be1d91;
  }
  